.App {
  text-align: center;
}

.input-ip{
  width: fit-content;
  margin: auto;
  margin-top: 3%;
  display: grid;
  grid-template-columns: 1fr auto;

}

.map-box{
  margin: auto;
  margin-top: 1%;
  height: 75vh;
  width: 75vw;
}

.Button{
  background-color: #8400ff !important;
  margin-left: 1rem !important;
}